<p id="notice"><%= notice %></p>

<p>
  <strong>Soghe:</strong>
  <%= @sanvandong.soghe %>
</p>

<p>
  <strong>Diachi:</strong>
  <%= @sanvandong.diachi %>
</p>

<p>
  <strong>Thongtinthem:</strong>
  <%= @sanvandong.thongtinthem %>
</p>

<p>
  <strong>Doibong:</strong>
  <%= @sanvandong.doibong %>
</p>

<%= link_to 'Edit', edit_sanvandong_path(@sanvandong) %> |
<%= link_to 'Back', sanvandongs_path %>
