<h1>Listing baiviets</h1>

<table>
  <thead>
    <tr>
      <th>Tieude</th>
      <th>Noidung</th>
      <th>Taikhoan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baiviets.each do |baiviet| %>
      <tr>
        <td><%= baiviet.tieude %></td>
        <td><%= baiviet.noidung %></td>
        <td><%= baiviet.taikhoan %></td>
        <td><%= link_to 'Show', baiviet %></td>
        <td><%= link_to 'Edit', edit_baiviet_path(baiviet) %></td>
        <td><%= link_to 'Destroy', baiviet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baiviet', new_baiviet_path %>
