<p id="notice"><%= notice %></p>

<p>
  <strong>Tieude:</strong>
  <%= @baiviet.tieude %>
</p>

<p>
  <strong>Noidung:</strong>
  <%= @baiviet.noidung %>
</p>

<p>
  <strong>Taikhoan:</strong>
  <%= @baiviet.taikhoan %>
</p>

<%= link_to 'Edit', edit_baiviet_path(@baiviet) %> |
<%= link_to 'Back', baiviets_path %>
