<h1>Listing lichthidaus</h1>

<table>
  <thead>
    <tr>
      <th>Muagiai</th>
      <th>Vongdau</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lichthidaus.each do |lichthidau| %>
      <tr>
        <td><%= lichthidau.muagiai %></td>
        <td><%= lichthidau.vongdau %></td>
        <td><%= link_to 'Show', lichthidau %></td>
        <td><%= link_to 'Edit', edit_lichthidau_path(lichthidau) %></td>
        <td><%= link_to 'Destroy', lichthidau, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lichthidau', new_lichthidau_path %>
