<p id="notice"><%= notice %></p>

<p>
  <strong>Muagiai:</strong>
  <%= @lichthidau.muagiai %>
</p>

<p>
  <strong>Vongdau:</strong>
  <%= @lichthidau.vongdau %>
</p>

<%= link_to 'Edit', edit_lichthidau_path(@lichthidau) %> |
<%= link_to 'Back', lichthidaus_path %>
