<%= form_for(@bangxephang) do |f| %>
  <% if @bangxephang.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bangxephang.errors.count, "error") %> prohibited this bangxephang from being saved:</h2>

      <ul>
      <% @bangxephang.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vondau_id %><br>
    <%= f.text_field :vondau_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
