<h1>Listing bangxephangs</h1>

<table>
  <thead>
    <tr>
      <th>Vondau</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bangxephangs.each do |bangxephang| %>
      <tr>
        <td><%= bangxephang.vondau %></td>
        <td><%= link_to 'Show', bangxephang %></td>
        <td><%= link_to 'Edit', edit_bangxephang_path(bangxephang) %></td>
        <td><%= link_to 'Destroy', bangxephang, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bangxephang', new_bangxephang_path %>
