<h1>Listing cauthus</h1>

<table>
  <thead>
    <tr>
      <th>Ten</th>
      <th>Tuoi</th>
      <th>Quoctich</th>
      <th>Chieucao</th>
      <th>Cannang</th>
      <th>Vitri</th>
      <th>Doibong</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cauthus.each do |cauthu| %>
      <tr>
        <td><%= cauthu.ten %></td>
        <td><%= cauthu.tuoi %></td>
        <td><%= cauthu.quoctich %></td>
        <td><%= cauthu.chieucao %></td>
        <td><%= cauthu.cannang %></td>
        <td><%= cauthu.vitri %></td>
        <td><%= cauthu.doibong %></td>
        <td><%= link_to 'Show', cauthu %></td>
        <td><%= link_to 'Edit', edit_cauthu_path(cauthu) %></td>
        <td><%= link_to 'Destroy', cauthu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cauthu', new_cauthu_path %>
