<p id="notice"><%= notice %></p>

<p>
  <strong>Ten:</strong>
  <%= @cauthu.ten %>
</p>

<p>
  <strong>Tuoi:</strong>
  <%= @cauthu.tuoi %>
</p>

<p>
  <strong>Quoctich:</strong>
  <%= @cauthu.quoctich %>
</p>

<p>
  <strong>Chieucao:</strong>
  <%= @cauthu.chieucao %>
</p>

<p>
  <strong>Cannang:</strong>
  <%= @cauthu.cannang %>
</p>

<p>
  <strong>Vitri:</strong>
  <%= @cauthu.vitri %>
</p>

<p>
  <strong>Doibong:</strong>
  <%= @cauthu.doibong %>
</p>

<%= link_to 'Edit', edit_cauthu_path(@cauthu) %> |
<%= link_to 'Back', cauthus_path %>
