<p id="notice"><%= notice %></p>

<p>
  <strong>Thuhang:</strong>
  <%= @chitietbxh.thuhang %>
</p>

<p>
  <strong>Sotranthidau:</strong>
  <%= @chitietbxh.sotranthidau %>
</p>

<p>
  <strong>Diem:</strong>
  <%= @chitietbxh.diem %>
</p>

<p>
  <strong>Hieuso:</strong>
  <%= @chitietbxh.hieuso %>
</p>

<p>
  <strong>Tongsobanthang:</strong>
  <%= @chitietbxh.tongsobanthang %>
</p>

<p>
  <strong>Sotranthang:</strong>
  <%= @chitietbxh.sotranthang %>
</p>

<p>
  <strong>Sotranghoa:</strong>
  <%= @chitietbxh.sotranghoa %>
</p>

<p>
  <strong>Sotrangthua:</strong>
  <%= @chitietbxh.sotrangthua %>
</p>

<p>
  <strong>Bangxephang:</strong>
  <%= @chitietbxh.bangxephang %>
</p>

<p>
  <strong>Doibong:</strong>
  <%= @chitietbxh.doibong %>
</p>

<p>
  <strong>Lenxuonghang:</strong>
  <%= @chitietbxh.lenxuonghang %>
</p>

<%= link_to 'Edit', edit_chitietbxh_path(@chitietbxh) %> |
<%= link_to 'Back', chitietbxhs_path %>
