<p id="notice"><%= notice %></p>

<p>
  <strong>Thoigian:</strong>
  <%= @banthang.thoigian %>
</p>

<p>
  <strong>Cauthu:</strong>
  <%= @banthang.cauthu %>
</p>

<p>
  <strong>Chitiettrandau:</strong>
  <%= @banthang.chitiettrandau %>
</p>

<%= link_to 'Edit', edit_banthang_path(@banthang) %> |
<%= link_to 'Back', banthangs_path %>
