<p id="notice"><%= notice %></p>

<p>
  <strong>Ten:</strong>
  <%= @doibong.ten %>
</p>

<p>
  <strong>Diachi:</strong>
  <%= @doibong.diachi %>
</p>

<p>
  <strong>Dienthoai:</strong>
  <%= @doibong.dienthoai %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @doibong.fax %>
</p>

<p>
  <strong>Website:</strong>
  <%= @doibong.website %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @doibong.facebook %>
</p>

<p>
  <strong>Ngaytl:</strong>
  <%= @doibong.ngaytl %>
</p>

<p>
  <strong>Mauao:</strong>
  <%= @doibong.mauao %>
</p>

<p>
  <strong>Bacsy:</strong>
  <%= @doibong.bacsy %>
</p>

<p>
  <strong>Nguoidaidientruyenthong:</strong>
  <%= @doibong.nguoidaidientruyenthong %>
</p>

<p>
  <strong>Huanluyenvien:</strong>
  <%= @doibong.huanluyenvien %>
</p>

<%= link_to 'Edit', edit_doibong_path(@doibong) %> |
<%= link_to 'Back', doibongs_path %>
