<h1>Listing thephats</h1>

<table>
  <thead>
    <tr>
      <th>Loaithe</th>
      <th>Ghichu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thephats.each do |thephat| %>
      <tr>
        <td><%= thephat.loaithe %></td>
        <td><%= thephat.ghichu %></td>
        <td><%= link_to 'Show', thephat %></td>
        <td><%= link_to 'Edit', edit_thephat_path(thephat) %></td>
        <td><%= link_to 'Destroy', thephat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thephat', new_thephat_path %>
