<p id="notice"><%= notice %></p>

<p>
  <strong>Loaithe:</strong>
  <%= @thephat.loaithe %>
</p>

<p>
  <strong>Ghichu:</strong>
  <%= @thephat.ghichu %>
</p>

<%= link_to 'Edit', edit_thephat_path(@thephat) %> |
<%= link_to 'Back', thephats_path %>
