<h1>Listing chitiettrandaus</h1>

<table>
  <thead>
    <tr>
      <th>Trandau</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chitiettrandaus.each do |chitiettrandau| %>
      <tr>
        <td><%= chitiettrandau.trandau %></td>
        <td><%= link_to 'Show', chitiettrandau %></td>
        <td><%= link_to 'Edit', edit_chitiettrandau_path(chitiettrandau) %></td>
        <td><%= link_to 'Destroy', chitiettrandau, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chitiettrandau', new_chitiettrandau_path %>
