<p id="notice"><%= notice %></p>

<p>
  <strong>Stt:</strong>
  <%= @vongdau.stt %>
</p>

<p>
  <strong>Sotrandathidau:</strong>
  <%= @vongdau.sotrandathidau %>
</p>

<p>
  <strong>Thoigianbatdau:</strong>
  <%= @vongdau.thoigianbatdau %>
</p>

<p>
  <strong>Thoigianketthuc:</strong>
  <%= @vongdau.thoigianketthuc %>
</p>

<%= link_to 'Edit', edit_vongdau_path(@vongdau) %> |
<%= link_to 'Back', vongdaus_path %>
