<h1>Listing vitris</h1>

<table>
  <thead>
    <tr>
      <th>Tenvitri</th>
      <th>Phamvihd</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vitris.each do |vitri| %>
      <tr>
        <td><%= vitri.tenvitri %></td>
        <td><%= vitri.phamvihd %></td>
        <td><%= link_to 'Show', vitri %></td>
        <td><%= link_to 'Edit', edit_vitri_path(vitri) %></td>
        <td><%= link_to 'Destroy', vitri, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vitri', new_vitri_path %>
