<p id="notice"><%= notice %></p>

<p>
  <strong>Tenvitri:</strong>
  <%= @vitri.tenvitri %>
</p>

<p>
  <strong>Phamvihd:</strong>
  <%= @vitri.phamvihd %>
</p>

<%= link_to 'Edit', edit_vitri_path(@vitri) %> |
<%= link_to 'Back', vitris_path %>
