<p id="notice"><%= notice %></p>

<p>
  <strong>Hinhanh:</strong>
  <%= @thongtintk.hinhanh %>
</p>

<p>
  <strong>Email:</strong>
  <%= @thongtintk.email %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @thongtintk.ten %>
</p>

<p>
  <strong>Tuoi:</strong>
  <%= @thongtintk.tuoi %>
</p>

<p>
  <strong>Diachi:</strong>
  <%= @thongtintk.diachi %>
</p>

<p>
  <strong>Sdt:</strong>
  <%= @thongtintk.sdt %>
</p>

<p>
  <strong>Gioitinh:</strong>
  <%= @thongtintk.gioitinh %>
</p>

<p>
  <strong>Taikhoan:</strong>
  <%= @thongtintk.taikhoan %>
</p>

<%= link_to 'Edit', edit_thongtintk_path(@thongtintk) %> |
<%= link_to 'Back', thongtintks_path %>
