<p id="notice"><%= notice %></p>

<p>
  <strong>Ten:</strong>
  <%= @huanluyenvien.ten %>
</p>

<p>
  <strong>Tuoi:</strong>
  <%= @huanluyenvien.tuoi %>
</p>

<p>
  <strong>Quoctich:</strong>
  <%= @huanluyenvien.quoctich %>
</p>

<%= link_to 'Edit', edit_huanluyenvien_path(@huanluyenvien) %> |
<%= link_to 'Back', huanluyenviens_path %>
