<h1>Listing loaimedia</h1>

<table>
  <thead>
    <tr>
      <th>Ten</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loaimedia.each do |loaimedium| %>
      <tr>
        <td><%= loaimedium.ten %></td>
        <td><%= link_to 'Show', loaimedium %></td>
        <td><%= link_to 'Edit', edit_loaimedium_path(loaimedium) %></td>
        <td><%= link_to 'Destroy', loaimedium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loaimedium', new_loaimedium_path %>
