<h1>Listing lenxuonghangs</h1>

<table>
  <thead>
    <tr>
      <th>Ten</th>
      <th>Thongtin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lenxuonghangs.each do |lenxuonghang| %>
      <tr>
        <td><%= lenxuonghang.ten %></td>
        <td><%= lenxuonghang.thongtin %></td>
        <td><%= link_to 'Show', lenxuonghang %></td>
        <td><%= link_to 'Edit', edit_lenxuonghang_path(lenxuonghang) %></td>
        <td><%= link_to 'Destroy', lenxuonghang, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lenxuonghang', new_lenxuonghang_path %>
