<p id="notice"><%= notice %></p>

<p>
  <strong>Ten:</strong>
  <%= @lenxuonghang.ten %>
</p>

<p>
  <strong>Thongtin:</strong>
  <%= @lenxuonghang.thongtin %>
</p>

<%= link_to 'Edit', edit_lenxuonghang_path(@lenxuonghang) %> |
<%= link_to 'Back', lenxuonghangs_path %>
