<h1>Listing phamlois</h1>

<table>
  <thead>
    <tr>
      <th>Thoigian</th>
      <th>Thephat</th>
      <th>Cauthu</th>
      <th>Chitiettrandau</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phamlois.each do |phamloi| %>
      <tr>
        <td><%= phamloi.thoigian %></td>
        <td><%= phamloi.thephat %></td>
        <td><%= phamloi.cauthu %></td>
        <td><%= phamloi.chitiettrandau %></td>
        <td><%= link_to 'Show', phamloi %></td>
        <td><%= link_to 'Edit', edit_phamloi_path(phamloi) %></td>
        <td><%= link_to 'Destroy', phamloi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phamloi', new_phamloi_path %>
