<p id="notice"><%= notice %></p>

<p>
  <strong>Thoigian:</strong>
  <%= @phamloi.thoigian %>
</p>

<p>
  <strong>Thephat:</strong>
  <%= @phamloi.thephat %>
</p>

<p>
  <strong>Cauthu:</strong>
  <%= @phamloi.cauthu %>
</p>

<p>
  <strong>Chitiettrandau:</strong>
  <%= @phamloi.chitiettrandau %>
</p>

<%= link_to 'Edit', edit_phamloi_path(@phamloi) %> |
<%= link_to 'Back', phamlois_path %>
