<div class="container">
	<div class="col-sm-6 col-md-4 col-md-offset-4 row">
		<form class="form-signin">
			<p><%= t('devise.menu.hello')%> <%= @resource.email %>!</p>			
			<p><%= t('devise.menu.request_change_pass')%></p>			
			<p><%= link_to t('devise.menu.change_pass'), edit_password_url(@resource, reset_password_token: @token) %></p>			
			<p><%= t('devise.menu.ignore_email') %></p>
			<p><%= t('devise.menu.confirm_change_pass')%></p>
		</form>
	</div>
</div>
