<p id="notice"><%= notice %></p>

<p>
  <strong>Banthangdoinha:</strong>
  <%= @trandau.banthangdoinha %>
</p>

<p>
  <strong>Banthangdoikhach:</strong>
  <%= @trandau.banthangdoikhach %>
</p>

<p>
  <strong>Doinha:</strong>
  <%= @trandau.doinha %>
</p>

<p>
  <strong>Doikhach:</strong>
  <%= @trandau.doikhach %>
</p>

<p>
  <strong>Thoigian:</strong>
  <%= @trandau.thoigian %>
</p>

<p>
  <strong>Vongdau:</strong>
  <%= @trandau.vongdau %>
</p>

<p>
  <strong>Sanvandong:</strong>
  <%= @trandau.sanvandong %>
</p>

<%= link_to 'Edit', edit_trandau_path(@trandau) %> |
<%= link_to 'Back', trandaus_path %>
