<!DOCTYPE html>
<html>
<head>
  <title>Doan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	
	<nav class="navbar navbar-default">
  <div class="container-fluid">    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
        <img style="max-width:100px; margin-top: -7px;"
             src="/assets/logo.png">
    </a>     
    </div>
    
        
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="home\news"><%= t 'menu.news'%> <span class="sr-only">(current)</span></a></li>
        <li><a href="home\players"><%= t 'menu.players'%></a></li>
        <li><a href="home\watch"><%= t 'menu.watch'%> <span class="sr-only">(current)</span></a></li>
        <li><a href="home\stats"><%= t 'menu.stats'%></a></li>
        <li><a href="home\fanzone"><%= t 'menu.fanzone'%> <span class="sr-only">(current)</span></a></li>
        <li><a href="home\about"><%= t 'menu.about'%></a></li>        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
      	<li>
      		<form class="navbar-form navbar-left" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="<%= t 'menu.search'%>">
		        </div>
		        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      		</form>
      	</li>
        <li><a href="/taikhoans/sign_in"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><%= t('menu.login')%></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <%= I18n.t 'menu.languages' %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">          	 
            <li><a href="#"><%= link_to "English", change_locale_path(:locale => :en), :method=> :post, :remote => true %></a></li>
            <li><a href="#"><%= link_to "Tiếng Việt", change_locale_path(:locale => :vi), :method=> :post, :remote => true %></a></li>            
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>


<footer class="footer">
  <div class="container">
    <p class="text-muted">Designed by Thanh Tien & Thien Phuc</p>
  </div>
</footer>

</body>
</html>
